<div class="container">
  <div class="col-xs-6">
    <div class="modal-body">
      <%= simple_form_for "", url: sessions_path, html: {class: "form-horizontal" }, method: :post do |f| %>
        <%= f.input :email %>
        <%= f.input :password %>
      </div>
    <div class="modal-footer">
      <%= f.submit "Sign In" , class: "btn btn-primary"%>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
      <% end %>
  </div>
</div>
