<div id="<%= dom_id(direction) %>">
  <div class="list-direction">
    <div class="col-xs-10">
      <li><%= direction.instruction %></li>
    </div>
    <div class="col-xs-2">
      <% if can? :destroy, @recipe %>
        <%= link_to '<i class="fa fa-trash x3"></i>'.html_safe, recipe_direction_path(@recipe, direction), method: :delete, remote: true %>
      <% end %>
    </div>
  </div>
  <hr>
</div>
