<div class="container">
  <h1>All Recipes</h1>

  <% @recipes.each do |r| %>
    <%= link_to recipe_path(r) do %>
      <%#= image_tag r.image.url(:medium) %>
    <% end %>
    <h2><%= link_to r.title, recipe_path(r) %></h2>
  <% end %>
</div>
