<div class="index-page index-background">
  <div class="col-xs-2 left-bar">

test stuff

  </div>



  <div class="col-xs-10">
    <%#= image_tag "caprese.png", class: "background-img" %>
    <div class="container">
      <h1>..........Restaurant Name</h1>
      <h2>All Recipes</h2>

      <%= render '/recipes/show_recipes' %>

    </div>
  </div>
</div>
