<div class="index-page index-background">

  <div class="col-xs-12">
    <%#= image_tag "caprese.png", class: "background-img" %>
    <div class="container list-all">
      <h1><%= current_user.rest_name %></h1>
      <div class="list-all-line"></div>
      <%= render '/recipes/show_recipes' %>

    </div>
  </div>
</div>
