// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.section-header h2 {
  color: red;
  text-decoration: none;
}

.each-recipe a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.fa {
  font-size: 25px;
  color: black;
}

.tag {
  border: 1px black solid;
  padding: 6px 15px;
  background-color: #779cf5;
  display: inline-block;
  border-radius: 5px;
}


/*-----------------------
recipe show page
-----------------------*/

.each-recipe {
  background-color: rgba(246, 246, 246, 0.48);
  padding: 10px;
  margin: 15px;
  height: 70px;
  border-radius: 40px;
  border: 1px black solid;
  box-shadow: 5px 5px 3px #888888;
}

.list-img {
  border-radius: 50%;
  float: right;
}
