/*-----------------------
general
-----------------------*/

.fa {
  font-size: 22px;
  color: black;
}

.tag {
  border: 1px black solid;
  padding: 6px 15px;
  background-color: #779cf5;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  //top: -7px;
}

h1, h2, h3, h4 {
  font-family: 'Helvetica Neue', sans-serif;

}

p {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

li, i {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

/*-----------------------
all recipes index page
-----------------------*/

.section {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 15px 10px 20px;
  margin: 10px;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
}

.section-header {
  color: grey;
  text-decoration: none;
  font-size: 25px;
  font-weight: 100;
}

.list-img {
  border-radius: 50%;
  float: right;
}

.recipe-title {
  display: inline-block;
  margin-right: 40px;
}

.background-img {
  background-color: blue;
}

.header-line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}

.each-recipe {

  h2 {
    font-family: 'Droid Sans', sans-serif;
    font-size: 22px;
    font-weight: 100;
    display: inline;
  }
  span h2 {
    font-size: 16px;
    color: grey;
  }
  p {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 1px;
    /* display: inline; */
  }
  a {
    color: black;
    text-decoration: none;
  }
  i {
    font-size: 16px;
    color: rgba(138, 187, 87, 0.59);
  }
  .title {
    display: inline-block;
  }
}
.filter-form {
  position:relative;
  display: inline-block;
  float: right;
  top: 20px;
}

left-bar {
  background-color: rgba(255, 0, 0, 0.5);
}

.internal-pages {
  padding: 80px 0 0 0;
  margin: 0;
  background-attachment: fixed;
  /* background-image: url('caprese.png'); */
  background-image: url('smokedreuben2.jpg');
  /* background-image: url('cured_proscuitto2.png'); */
  background-size: cover;
  min-height: 2000px;
  height: 100%;
}

.inactive a {
  color: grey;
}


/*-----------------------
recipe show page
-----------------------*/

.recipe-image {
  background-size: cover;
  max-width: 530px;
  h1 {
    font-family: 'Helvetica-Neue', Arial, sans-serif;
  }
  p {
    font-family: 'Helvetica-Neue', Arial, sans-serif;
  }
  .tooltip-inner {
    border: solid 1px #ccc;
    background-color: #006dcc;
    font-size: 16px;
  }
}

.img-recipe {
  box-shadow: 0px 0px 10px 0px;
  margin: 20px 0 20px 0;
}

.show-icon {
  float: right;
  position: relative;
  top: 7px;
  margin: 0 5px;
}



/*-----------------------
nutritional table
-----------------------*/

.nutritional-table {
  border: black 2px solid;
  width: 100%;
  max-width: 450px;
  min-height: 500px;
  padding: 10px 8px;
  background-color: rgba(255, 255, 255, 0.6);
  //float: right;
  .title {
    font-size: 34px;
    font-family: 'Archivo Black', Arial, sans-serif;
    letter-spacing: -2px;
  }
  .recipe-name {
    font-size: 14px;
    font-family: Arial, 'Helvetica-Neue';
  }
  .serving-size {
    margin-bottom: 5px;
  }
  .thick-bar {
    height: 10px;
    background-color: #000;
  }
  .amount-per-serving {
    font-size: 11px;
    font-weight: bold;
    font-family: Arial, 'Helvetica-Neue', sans-serif;
  }
  .thin-bar {
    height: 1px;
    background-color: #000;
  }
  .thin-bar-short {
    float: right;
    width: 95%;
    height: 1px;
    background-color: #000;
  }
  .clearfix {
    clear: left;
  }
  .calories .c-bold {
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, 'Helvetica-Neue', sans-serif;
    display: inline-block;
  }
  .calories .c-thin {
    font-size: 14px;
    font-weight: 200;
    font-family: Arial, 'Helvetica-Neue', sans-serif;
  }
  .medium-bar {
    height: 6px;
    background-color: #000;
  }
  .c-fat {
    float: right;
    display: inline-block;
  }
  .percent-dv {
    display: block;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, 'Helvetica-Neue', sans-serif;
  }
  .fat {
    font-size: 13px;
    .minor.sat-fat {
      font-size: 12px;
      padding-left: 17px;
    }
  }
  .carbs {
    font-size: 13px;
    .minor {
      font-size: 12px;
      padding-left: 17px;
    }
  }
  .cholesterol {
    font-size: 13px;
  }
  .protein {
    font-size: 13px;
  }
  .dv {
    font-size: 13px;
  }
  .nutrition-comment {
    font-size: 11px;
    color: grey;
  }
  .dv-percent {
    text-align: right;
    font-weight: bold;
    display: block;
    float: right;
  }
  .trans {
    font-style: italic;
  }
  .no-val {
    background-color: #f0f0f0;
    width: 40px;
  }
}

/*-----------------------
Nutritional Analysis
-----------------------*/

.nut-recommendation {
  background-color: #f8f7f7;
  min-height: 500px;
  max-width: 485px;
  box-shadow: 0px 2px 5px #888888;
  h2 {
    font-family: 'Archivo Black', Arial, sans-serif;
    font-size: 34px;
  }
  h4 {
    line-height: 12px;
    font-weight: 400;
  }
  p {
    font-size: 14px;
    line-height: 12px;
    font-weight: 200;
  }
}

.bad-nut {
  color: red;
}

.avg-nut {
  color: black;
}

.good-nut {
  color: green;
}

.recommendations-footnote {
  p {
    color: grey;
    font-size: 10px;
    line-height: 8px;
  }
}
/*-----------------------
recipe new page
-----------------------*/

.recipe_category {
  width: 200px;
}

.new-recipe-btn {
  cursor: pointer;
}

/*-----------------------
directions
-----------------------*/

.directions {
  h2 {
    font-size: 26px;
    background-color: #000;
    color: #fff;
    display: inline-block;
    width: 30%;
    padding: 3px 3px 3px 10px;
    margin-bottom: 0;
    min-width: 140px;
  }
  .direction-underline {
    border-bottom: 3px #000 solid;
    padding: 0px;
    margin: 0px;
  }
  .inner-directions {
  min-height: 300px;
  padding: 20px 10px 10px 10px;
  }
  li {
    padding: 10px 0;
  }
  i {
    padding: 10px 0;
  }
}

.list-direction {
  /* border-bottom: 1px solid rgba(215, 215, 215, 0.8); */
  padding: 10px;
}

#direction_instruction {
  margin: 26px;
}
.dir-btn {
  float: right;
}

/*-----------------------
ingredients
-----------------------*/
.ingredients {
  h2 {
    font-size: 26px;
    background-color: #000;
    color: #fff;
    display: inline-block;
    width: 30%;
    padding: 3px 3px 3px 10px;
    margin-bottom: 0;
    min-width: 160px;
  }
}

.ingredient-directions {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 30px;
  min-height: 500px;
  box-shadow: 0px 2px 5px #888888;
  padding: 30px 0;
}
