<h1>Landing Page</h1>

<%= link_to "Recipes", recipes_path %>

<%= vider_tag 'assets/videos/', position: '100% 100%' %>

<div style="width: 100%; height: 100vh;"
  data-vide-bg="<%= asset_path('videos/video.mp4') %>" data-vide-options="loop: true, muted: true, position: 0% 0%">
</div>
